.footer_wrapper {
  display: flex;
  justify-content: space-between;
  border-top: .95px solid #dfdfdf;
  padding: 2rem 0 1.5rem;

  .block {
    padding: 0 15px;

    .title {
      font-family: 'sectra', serif;
      font-weight: bold;
      font-size: 16px;
      margin: 0 0 10px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 10px;
      li {
        padding-top: 5px;
    font-size: 14px;
    font-family: 'apercu', sans-serif;

        a {
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
  .text {
    font-size: 14px;
    font-family: 'apercu', sans-serif;
    color: #333;
  }
}
