.input-group{
  border: 1px solid #c1c1c1;

  height: 38px;
  width: 215px;

  display: flex;
  align-items: center;
  justify-content: center;

}
input {
  border: none;
  outline:none;
}
i {
  color: #aea8a5;
}
