
<form class="form" *ngIf="form" [formGroup]="form">
  <div class="form-group">
    <input type="text" formControlName="search" [placeholder]="placeholder">
    <i [class]="iconClass"></i>
  </div>
</form>
