
  <article class="main-article">
    <img  src="https://www.dermstore.com/blog/wp-content/uploads/2021/03/white-face-mask-texture-feature.jpg" alt="Closeup on white face mask texture">
    <div class="articleText">
      <h2 class="articleTitle" >How to Find the Best Face Masks for Dry Skin (Plus 8 Hydrating Favorites)</h2>
      <p class="articleAuthor">Rebecca R. Norris · March 15, 2021 · </p>
    </div>
  </article>
  <article class="article_wrapper" *ngFor="let item of articleItems">
    <div class="article_img">
      <img  src={{item.src}} class="img" alt="Closeup on white face mask texture">
    </div>

    <div class="articleText">
      <h2 class="articleTitle" >{{item.title}}</h2>
      <p class="articleAuthor"> {{item.author | uppercase}} · {{item.data | date}} · </p>
    </div>
  </article>
