

article {
  border: 1px solid #e9e9e9;
    margin-bottom: 10px;
}
.articleText{
  color: #000;
  text-align: left;
}
.articleTitle {
  font-family: 'sectra', serif;
  font-size: 22px;
  color: #000;
  line-height: 28px;
  cursor: pointer;
}
.articleAuthor {

  margin-bottom: 0px;
  font-size: 13px;
  letter-spacing: 1px;
}
.main-article {
  .articleText {
    padding: 15px;
    margin-bottom: 15px;

  }

}
img {
  max-width: 100%;

}
.article_wrapper {
  display: flex;
  padding: 10px;

  .article_img {
    width: 40%;
    padding: 0 15px;
  }
  .articleText {
    padding: 0 15px;
    width: 60%;
  }
}
