<div class="nav-wrapper container">
  <ul class="nav-list">
    <ng-container *ngFor="let item of navItems">
      <li class="nav-item">
        <a href="#">
          {{ item.title }}
        </a>
      </li>

    </ng-container>
  </ul>
</div>
